/* Specific styles for EleccionJugadorRvR.html */
.botonRandom {
    border: 0;
    background-image: linear-gradient(150deg, #a8e6cf, #43a047, #2e7d32);
    margin-left: 21%;
    margin-top: 10%;
    color: #fff;
    display: flex;
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}