/* Specific styles for EleccionRivalRvR.html and EleccionRivalEvR.html */
.botonRandom_rival {
    border: 0;
    background-image: linear-gradient(150deg, #47eeda, #1b3c5a);
    margin-left: 21%;
    margin-top: 10%;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
    border-radius: 10px;
}