/* Specific styles for EleccionRivalEvE.html */
#inputBusqueda_rival {
    width: 70%;
    padding: 10px 12px;
    margin: 10px auto 0;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 12px;
    outline: none;
    display: block;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.botonBuscar_rival {
    border: 0;
    background-image: linear-gradient(120deg, #47eeda, #1b3c5a);
    margin: 10px auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}